:root {
  --main-bg-color: white;
  --separator-color: #e7e7e7;
  --text-primary: #313037;
  --text-secondary: #a8a8a8;
  --button-text: #ffffff;

  --random-bg1: #f4eefd;
  --random-bg2: #d7e4fd;
  --random-bg3: #fee9e2;
  --random-bg4: #caeff0;

  --theme-icon: url(components/Icon/icons/moon.svg);

  --tablet-width: 800px;
  --max-width: 1120px;
  --margin-wrapper: 0 3% 0 3%;
  --separator: 1px solid var(--separator-color);
  --header-height-pc: 104px;
  --header-wrapper-height-pc: 56px;
  --footer-height-pc: 95px;
  --header-search-max-width: 542px;

  --icon-width: 56px;
  --icon-height: 56px;

  --card-wrapper-height: 454px;
  --card-wrapper-max-width: 352px;
  --image-max-height: 264px;
}

body[data-theme="dark"] {
  --main-bg-color: #313037;
  --text-primary: white;
  --text-secondary: #ffffff9a;
  --button-text: #313037;
  --separator-color: #ffffff6b;
  --separator: 1px solid var(--separator-color);
  --theme-icon: url(components/Icon/icons/sun.svg);
}
