:root {
    --main-bg-color: white;
    --separator-color: #E7E7E7;
    --text-primary: #313037;
    --text-secondary:  #A8A8A8;

    --max-width:1120px;
    --margin-wrapper: 0 2% 0 2%;
    --separator: 1px solid var(--separator-color);
    --header-height-pc: 104px;
    --header-wrapper-height-pc: 56px;
    --footer-height-pc: 95px;
    --header-search-max-width: 542px;
    }
  
    body[data-theme="dark"] {
    --main-bg-color: #313037;
    --post-bg-color: rgba(255, 255, 255, 0.1);
    --header-bg-color: rgba(255, 255, 255, 0.1);
    --icon-color: rgba(255, 255, 255, 0.1);
    --text-primary: #ffffff;
    --text-secondary: rgba(255, 255, 255, 0.5);
    --text-error: rgb(226, 39, 39);
    --border-color: rgba(255, 255, 255, 0.1);
    --input-focus-border-color: rgba(255, 255, 255, 0.7);
    --input-error-border-color: rgba(226, 89, 39, 0.7);
  }
  